extends layout

mixin tokens(ts)
  +codeBlock('Tokens', ts)
    span [
    div.inset
      - each t in ts
        +token(t)
    span ]

mixin codeBlock(title, dependsOn)
  if dependsOn
    div.inset.codeBlock
      span.title= title
      div.inset
        code
          block


mixin token(t)
  +codeBlock('Token', t)
    span {
      div.inset
        div word: #{t.word}
        div seperator: #{t.seperator}
        div operator: #{t.operator}
        if t.words
          div words:
            +tokens(t.words)
    span }
 
mixin repeatLink()
  a(href='#{ repeatUrl }') #{ decodeURIComponent(repeatUrl) }

block content
  h1= title

  +codeBlock('Input:', input)
    div= input

  +codeBlock('Error:', error)
    div= error.message

  +codeBlock('Output.toString():', output)
      div= output
      p You just executed a program! Check out what happened below!
      p 
        span p.s. you can do it again any time with this link: 
        +repeatLink()


  div
    p Try it out by typing a program here:
    input(type='text',value=input).inputText

    p Then hit <strong>Enter</strong> or use the following link to execute it!
    div.inputUrl


  if input && output
    h2 Dry look

    +codeBlock('Input:', input)
      div= input

    +codeBlock('Output.toString():', output)
      div= output

  if inputTokens && outputTokens
    h2 Wet look

    +codeBlock('Input:', inputTokens)
      +tokens(inputTokens)

    +codeBlock('Output:', outputTokens)
      +tokens(outputTokens)